.Hero-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  &__name {
    color: aliceblue;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: min-content;
    object-fit: contain;
  }
}